<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Mqtt" type="Mqtt.Config.MqttClientConfigSection,Mqtt.Config" />
  </configSections>
  <!--mqtt配置-->
  <Mqtt AuthAcl="MqttRedis">
    <!--iis使用的mqtt订阅地址与账号，多服务器部署一定要改Account的值，否则账号冲突-->
    <Subscribe Address="mqtt://14.21.34.84:1883" Account="admin_sub_dev_test" Password="123456" />
    <!--mqtt的http发布地址与账号-->
    <Publish Address="http://14.21.34.84:8083/mqtt/publish" Account="admin_pub" Password="123456" />
    <!--mqtt的所有服务节点，使用一致性哈希将这些节点均匀分配给mqtt客户端连接-->
    <Nodes>
      <Node IP="14.21.34.84" Port="1883" />
    </Nodes>
  </Mqtt>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>