<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--提示窗口显示时长 ,为 0 时不显示窗口-->
		<add key="AlarmShowTime" value="10"/>
		<!-- 钉钉测试配置 -->

		<add key="ApiUrl" value="https://oapi.dingtalk.com/robot/send?access_token=3ac4aaac332975bbaf27854e3d8b6615fea36adaed80ba82ef4008d10e129212"/>
		<add key="Secret" value="SEC48c842641a8636d7f0ca294d4a7d1c189ea9b2a78fd99eba985375481907f9c7"/>


		<!-- 飞书测试配置(暂时未通) -->
		<!--
		<add key="ApiUrl" value="https://open.feishu.cn/open-apis/bot/v2/hook/ef179758-d0ac-402a-bf17-eeb2b4b003fd"/>
		<add key="Secret" value="iaOKCUvjfWfi1TDP3tGSle"/>
		-->
		<!--feishu 或  dingtalk-->
		<add key="WebhookType" value="dingtalk" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>